<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>

<button data-href="/jobs/new">Create New Expense</button>

<table id="expenses-table">
  <tr id="expenses-table-header">
    <th>Title</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Created At</th>
    <th>Modified At</th>
    <th colspan="2">Actions</th>
  </tr>
  <% expenses.map(item => { %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.amount %></td>
      <td><%= item.category %></td>
      <td><%= new Date(item.createdAt).toDateString() %></td>
      <td><%= new Date(item.updatedAt).toDateString() %></td>
      <td>
        <button data-href="/jobs/edit/<%= item.id %>">Edit</button>
        <form action="/jobs/delete/<%= item.id %>" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button>Delete</button>
        </form>
      </td>
    </tr>
  <% }) %>
</table>

<%- include("../partials/footer.ejs") %>